<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RSS Feed News Headlines</title>
<style>
h1 {
background-color: black;
color: #033399;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 1.6em;
}

h2 {
background-color: black;
color: #336666;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 1.6em;
}

body {
background-color: black;
color: white;
font-family: Verdana, Helvetica, Arial, sans-serif;
padding-left: 5%;
padding-right: 5%;
font-weight: 500;
font-size: 1.6em;
}
</style>
</head>	
<body>
<h1>RSS News Feeds</h1>
<h2>NPR News</h2>
{% for story in npr_list  %}
    <p> {{story}} </p>
{% endfor %}
<h2>Ars Technica</h2>
{% for story in ars_list  %}
    <p> {{story}} </p>
{% endfor %}
<h2>Buffalo WGRZ News</h2>
{% for story in buffalo_list  %}
    <p> {{story}} </p>
{% endfor %}
</body>
</html>
